{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
  <!-- page heading -->
  <div class="row">
    <div class="col-12 col-md-6">
      <hr>
      <h2 class="logo-font mb-4">FAQ</h2>
      <!--end page heading-->
      <!--page sub heading-->
      <h5 class="text-muted">Find out more</h5>
      <hr>
      <!--end page sub heading-->
    </div>
  </div>
  <!-- about us, privacy policy, return policy-->
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              About Us
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h1>At The Vitamin Store</h1>
            We're committed to creating world-class nutrition for every step of your journey. We constantly push
            ourselves to be the best and have done since day one - we never compromise and neither should our customers.
            The best ingredients, the best formulations, the best taste, the best choice, the best service and the best
            brand experience. Champion of the people and a facilitator of choice. We understand that everybody and every
            body is different, we’re an open book of knowledge and expertise, empowering our customers to make decisions
            that fit their goals and feel right for them.
            Our extensive range offers something for everyone.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Privacy Policy
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <h1>Privacy Policy for The Vitamin Store</h1>
            At The Vitamin Store, accessible from <a href="https://the-vitamin-store.herokuapp.com/">THE VITAMIN
              STORE</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document
            contains types of information that is collected and recorded by The Vitamin Store and how we use it.
            <hr>
            If you have additional questions or require more information about our Privacy Policy, do not hesitate to
            contact us.
            This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards to the information that they shared and/or collect in The Vitamin Store. This policy is not
            applicable to any information collected offline or via channels other than this website. Our Privacy Policy
            was created with the help of the Free <a href="https://www.privacypolicygenerator.info/">Privacy Policy
              Generator</a>.
            <hr>
            <h3> Consent</h3>
            By using our website, you hereby consent to our Privacy Policy and agree to its terms.
            Information we collect
            The personal information that you are asked to provide, and the reasons why you are asked to provide it,
            will be made clear to you at the point we ask you to provide your personal information.
            <hr>

            If you contact us directly, we may receive additional information about you such as your name, email
            address, phone number, the contents of the message and/or attachments you may send us, and any other
            information you may choose to provide.

            When you register for an Account, we may ask for your contact information, including items such as name,
            company name, address, email address, and telephone number.

            <h3>How we use your information</h3>
            We use the information we collect in various ways, including to:
            <hr>
            Provide, operate, and maintain our website
            Improve, personalize, and expand our website
            Understand and analyze how you use our website
            Develop new products, services, features, and functionality
            Communicate with you, either directly or through one of our partners, including for customer service, to
            provide you with updates and other information relating to the website, and for marketing and promotional
            purposes
            Send you emails
            Find and prevent fraud
            Log Files
            The Vitamin Store follows a standard procedure of using log files. These files log visitors when they visit
            websites. All hosting companies do this and a part of hosting services' analytics. The information collected
            by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date
            and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any
            information that is personally identifiable. The purpose of the information is for analyzing trends,
            administering the site, tracking users' movement on the website, and gathering demographic information.

            Cookies and Web Beacons
            Like any other website, The Vitamin Store uses 'cookies'. These cookies are used to store information
            including visitors' preferences, and the pages on the website that the visitor accessed or visited. The
            information is used to optimize the users' experience by customizing our web page content based on visitors'
            browser type and/or other information.

            For more general information on cookies, please read the Cookies article on Generate Privacy Policy website.
            <hr>

            <h3>Advertising Partners Privacy Policies</h3>
            You may consult this list to find the Privacy Policy for each of the advertising partners of The Vitamin
            Store.

            Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are
            used in their respective advertisements and links that appear on The Vitamin Store, which are sent directly
            to users' browser. They automatically receive your IP address when this occurs. These technologies are used
            to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content
            that you see on websites that you visit.

            Note that The Vitamin Store has no access to or control over these cookies that are used by third-party
            advertisers.

            Third Party Privacy Policies
            The Vitamin Store's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising
            you to consult the respective Privacy Policies of these third-party ad servers for more detailed
            information. It may include their practices and instructions about how to opt-out of certain options.

            You can choose to disable cookies through your individual browser options. To know more detailed information
            about cookie management with specific web browsers, it can be found at the browsers' respective websites.
            <hr>

            <h3>CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>
            Under the CCPA, among other rights, California consumers have the right to:

            Request that a business that collects a consumer's personal data disclose the categories and specific pieces
            of personal data that a business has collected about consumers.

            Request that a business delete any personal data about the consumer that a business has collected.

            Request that a business that sells a consumer's personal data, not sell the consumer's personal data.

            If you make a request, we have one month to respond to you. If you would like to exercise any of these
            rights, please contact us.
            <hr>

            <h3>GDPR Data Protection Rights</h3>
            We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled
            to the following:

            The right to access - You have the right to request copies of your personal data. We may charge you a small
            fee for this service.

            The right to rectification - You have the right to request that we correct any information you believe is
            inaccurate. You also have the right to request that we complete the information you believe is incomplete.

            The right to erasure - You have the right to request that we erase your personal data, under certain
            conditions.

            The right to restrict processing - You have the right to request that we restrict the processing of your
            personal data, under certain conditions.

            The right to object to processing - You have the right to object to our processing of your personal data,
            under certain conditions.

            The right to data portability - You have the right to request that we transfer the data that we have
            collected to another organization, or directly to you, under certain conditions.

            If you make a request, we have one month to respond to you. If you would like to exercise any of these
            rights, please contact us.

            Children's Information
            Another part of our priority is adding protection for children while using the internet. We encourage
            parents and guardians to observe, participate in, and/or monitor and guide their online activity.

            The Vitamin Store does not knowingly collect any Personal Identifiable Information from children under the
            age of 13. If you think that your child provided this kind of information on our website, we strongly
            encourage you to contact us immediately and we will do our best efforts to promptly remove such information
            from our records.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Return Policy
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <h1>How can I return my order and what are your guidelines</h1>
            We understand that occasionally you may change your mind or want to return an item to us. If you wish to
            return it to us, please send it to the below returns address within 14 days of delivery.
            Please note that we cannot accept the return of items which have been opened or part-consumed.
            <hr>
            We must receive the unwanted items within 14 days from date of delivery to you. Once your returned item(s)
            have been received & examined in our warehouse, we will process the refund and make the payment back to the
            original account the money came from. Please allow up to 10 working days for this payment to show in your
            account.
            We are not able to process any refund until the goods have been received and we are unable to refund the
            cost of your postage.
            <hr>
            When you send the items back, please include a covering note including your order number, name and reason
            for return. Without your order number, we will be unable to refund you. Please also include a copy of this
            email with your parcel.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end about us, privacy policy, return policy-->
</div>
{% endblock %}