{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
  <!-- page heading -->
  <div class="row">
    <div class="col-12 col-md-6">
      <hr>
      <h2 class="logo-font mb-4">FAQ</h2>
      <!--end page heading-->
      <!--page sub heading-->
      <h5 class="text-muted">Find out more</h5>
      <hr>
      <!--end page sub heading-->
    </div>
  </div>
  <!-- about us, privacy policy, return policy-->
  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              About Us
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h1>The Supplement Store</h1>
            <P>We want to be the sports and active nutrition brand for everyone.</p>

<P>Empowering athletes with unparalleled sports and performance supplements, and inspiring every person to create their own life-changing journey with the right nutrition and expertise.</P>

<p>Health and fitness is a process, and we want to be there every step of the way.</p>

<p>Making an impact, leading by example, setting benchmarks and improving the lives of our community and consumers for good.</p>
            
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Privacy Policy
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <h1>Privacy Policy for Supplement Store</h1>

<p>At supplement-store1, accessible from <a href="https://supplement-store1.herokuapp.com/">The Supplement Store</a> , one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by supplement-store1 and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in supplement-store1. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicygenerator.info/">Free Privacy Policy Generator</a>.</p>

<hr>
<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
<hr>
<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
<hr>
<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our website</li>
<li>Improve, personalize, and expand our website</li>
<li>Understand and analyze how you use our website</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>
<hr>
<h2>Log Files</h2>

<p>supplement-store1 follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>



<hr>
<h2>Advertising Partners Privacy Policies</h2>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of supplement-store1.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on supplement-store1, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that supplement-store1 has no access to or control over these cookies that are used by third-party advertisers.</p>
<hr>
<h2>Third Party Privacy Policies</h2>

<p>supplement-store1's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
<hr>
<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
<hr>
<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
<hr>
<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>supplement-store1 does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Return Policy
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
              
              <hr>
            
            <strong>Before you return items to us, please read and follow the below instructions. You can also contact our Customer Service</strong> <strong>sales@supplement-store1.com, we will be glad to help you.</strong><br>
            <br>
            Please make sure that you understand our return policy and ensure that all criteria are met before physically sending any items back to us.
            <br>
            After you email us to apply for a return, we will reply to you in 48 working hours.
            <span style="display: none;">&nbsp;</span><span style="display: none;">&nbsp;</span><br>
            <strong>In what situation do we pay for return shipping?</strong><br>
            <br>
            We will pay for the cost of return shipping if the reason for return was the result of OUR error.<br>
            <br>
            <strong>Examples as below:</strong>
            <ul>
              <li>We shipped out the wrong item</li>
              <li>We shipped it to the wrong address</li>
              <li>We shipped a duplicate order</li>
              <li>The item arrived defective and cannot be fixed with a replacement part</li>
              <li>Item malfunctioned during the 30 day returns period (Assuming the customer assembled the item properly per the instruction manual)</li>
            </ul>
            <br>
            <br>
            <strong>IMPORTANT:</strong> For items that arrive damaged or are defective, You must provide video/photos to support your claim that the item arrived damaged or is malfunctioning. If a customer refuses to or fails to send photos/video of a claimed malfunctioning/damaged item, this return will be treated as “buyer’s remorse” and the customer is solely responsible for shipping it back. The customer is also vulnerable to the 10% restocking fee as well as any shipping charges the seller has paid out. If a customer claims an item is defective/damaged, the customer must provide proof prior to return, with no exceptions. Use the Contact Us form to submit pictures/videos for your return request.<br>
            Once we have received the approved returned item, we will review its condition. If we confirm the return item is defective, we will issue a refund.<br>
            <br>
            <strong>When do customers need to be responsible for return shipping?</strong><br>
            <br>
            In the event of a return due to customer error, the return shipping is the customer's responsibility and the shipping is paid by the customer.<br>
            In these cases, a prepaid return shipping label is not provided. It is important to note that the original shipping charges are deducted from your total refund.<br>
            <br>
            <strong>Examples of these customer returns may include:</strong>
            
            <ul>
              <li>No Reason / No Longer Want</li>
              <li>Misinterpretation of Product Description (failure to fully read item details/descriptions/features)</li>
              <li>Order Cancellation after the item already shipped out, even if you have not yet received the item</li>
              <li>The customer bought the wrong one</li>
              <li>The customer accidentally bought too many</li>
              <li>The customer accidentally provided the wrong shipping address</li>
              <li>Buyers' Remorse (“Not satisfied with performance”, “Item doesn't fit me correctly”, “Item doesn't meet my expectations”, “I tried it, but I want something else”, etc)</li>
              <li>After the 30-day return period, the return refund policy does not apply if the item is faulty. The time for a return refund is 30 days. (calculated from the date of receipt)</li>
            </ul>
            <br>
            <br>
            <strong>Exchange process steps as below:</strong><br>
            <br>
            step 1:<br>
            Please email us at sales@supplement-store1.com to let us know your order's problem and confirm the solution.<br>
            Step 2:<br>
            Take a photo of your shipment and send it to us, along with the tracking number. Repair costs depend on whether it is covered under warranty.<br>
            Step 3:<br>
            We confirmed that the goods were returned and checked for problems. Please also email us your<br>
            Specific order number and contact information (name, mobile phone number, full address, postal code).<br>
            Step 4:<br>
            We will send the item back to you.<br>
            <br>
            For any further questions, please feel free to contact customer service.<br>
            Email : sales@supplement-store1.com<br>
            <br>
            <strong>Disclaimer</strong><br>
            <br>
            All information on the Site is provided in good faith, however, we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the Site.<br>
            <br>
            Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site or reliance on any information provided on the site. Your use of the site and your reliance on any information on the site is solely at your own risk.<br>
            <br>
            <strong>Company Address:</strong><br>
            <br>
            Address: Drötninghög gatan 24516, Helsingborg , Sweden<br>
            <br>
            </div>
{% endblock %}
