<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
         <!-- home -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="{% url 'home' %}"  aria-label="logo home link" id="home-link">
                Home
            </a>
        </li>
         <!-- all products dropdown menu  -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
          <!-- all categories dropdown menu  -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="{% url 'products' %}"  id="products-categories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">  
                <a href="{% url 'products' %}?category=vitamin_b" class="dropdown-item">Vitamin-B</a>
                <a href="{% url 'products' %}?category=vitamin_c" class="dropdown-item ">Vitamin-C</a>
                <a href="{% url 'products' %}?category=vitamin_d" class="dropdown-item ">Vitamin-D</a>
                <a href="{% url 'products' %}?category=vitamin_e" class="dropdown-item">Vitamin-E</a>
                <a href="{% url 'products' %}?category=vegan_vitamins" class="dropdown-item">Vegan Vitamins</a>
                <a href="{% url 'products' %}?category=fish_oil_supplements" class="dropdown-item">Fish Oil Supplements</a>
                <a href="{% url 'products' %}?category=immune_system_supplements" class="dropdown-item">Immune System Supplements</a>
                <a href="{% url 'products' %}?category=vitamin_b,vitamin_c,vitamin_d,vitamin_e,vegan_vitamins,fish_oil_supplements,immune_system_supplements" class="dropdown-item">All Categories</a>
            </div>
        </li>
        <li class="nav-item">
              <!-- contact us page -->
            <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="{% url 'contact' %}"  aria-label="contact link" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
        <!-- faq page -->
        <li class="nav-item">
        <a class="logo-font font-weight-bold nav-link text-danger mr-5" href="{% url 'faq' %}"  aria-label="faq link" id="faq-link" aria-expanded="false">
            FAQ
        </a>
  </ul>
</div>