{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
        <!-- required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="supplement, good health,taking care of the body, training, hight intencity workout,
        vitamins, Vitamin-B, vitamin_c, Vitamin-D, whey protin">
        <meta property="og:type" content="article"/>
        <meta property="og:site_name" content="supplement-store1"/>
        <meta property="og:url" content="https://supplement-store1.herokuapp.com/"/>
        <meta name="description" content="A website with health supplement information and where you can search and purchase">
        <meta name="author" content="Wisam Altaqaly">

    {% endblock %}
     <!-- end required meta tags -->
    {% block extra_meta %}
    {% endblock %}
    {% block corecss %}
         <!-- bootstarp CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">

         <!-- end bootstarp CSS -->
         <!-- favicon-->
         <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
         <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
         <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
         <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    {% endblock %}
    <!-- end favicon-->
    {% block extra_css %}
    {% endblock %}
     {% block corejs %}
        <!-- Fontawsome kit -->
        <script src="https://kit.fontawesome.com/ec3f09227b.js" crossorigin="anonymous"></script>
        <!-- Fontawsome kit -->
        <!-- JQuery, Popper.js, Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
         <!-- end JQuery, Popper.js, Bootstrap JS -->
        <!-- stripe -->
        <script src="https://js.stripe.com/v3/"></script>
         <!-- Stripe -->
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    <title>The Supplement Store{% block extra_title %}{% endblock %}</title>
</head>
<body>
    <!-- logo -->
    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" aria-label="logo home link" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>The Supplement </strong> Store</h2>
                </a>
            </div>
             <!-- end logo -->
            <!-- search input field -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET"  action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" aria-label="search form" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" aria-label="submit search" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
             <!-- end search input field -->
           <!-- account and shopping bag links  -->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <!-- dropdown menu  -->
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'blog' %}">
                        <div class="text-center">
                            <div><i class="far fa-comments fa-lg"></i></div>
                            <p class="my-0">Blog</p>
                        </div>
                        </a>
                    </li>
                    <li class="list-inline-item dropdown">
                         <!-- This is the parent menu containing a dropdown menu with user icon  -->
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" aria-label="add new product" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" aria-label="link to profile page" class="dropdown-item">My Profile</a>
                                <!-- These account urls come from allauth  -->
                                <a href="{% url 'account_logout' %}" aria-label="logout link" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}"  aria-label="register for account link" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}"  aria-label="login link" class="dropdown-item">Login</a>
                            {% endif %}
                            <!-- end account drop down menu -->
                        </div>
                    </li>
                    <!-- shopping bag -->
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                           
                        </a>
                    </li>
                </ul>
                 <!-- end shopping bag -->
         </div>
         <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
               {% include 'includes/mobile-top-header.html' %}
               {% include 'includes/main-nav.html' %}
           </nav>
       </div>
       <!-- banner -->
       <div id="delivery-banner" class="row text-center">
           <div class="col bg-black text-white">
               <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
           </div> 
            <!-- end banner -->           
       </div>
    </header>
    {% if messages %}
      <div class="message-container">
        {% for message in messages %}
          {% with message.level as level %}
            {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
            {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
            {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
            {% else %}
                {% include 'includes/toasts/toast_info.html' %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}
    {% block page_header %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <!-- Footer -->
  <footer class="container-wrapper">
    <div class="container quotes-container content-container">
      <section class="footer">
        <div class="row">
          <div class="col-12 page-header mb-4">
            <h2 class="text-uppercase">Stay in touch:</h2>
            <hr class="block-divider block-divider--short">
          </div>
       </div>
       <div class="row">
         <div class="col-12 col-md-6">
           <h3>Social</h3>
           <p>Keep up to date with all our latest offers</p>
           <a href="#" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
         </div>
         <div class="col-12 col-md-6">
           <h2>Subscribe!</h2>
           <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
           <!-- Mailchimp signup form here -->
         </div>
       </div>
     </section>
   </div>
 </footer>
<!-- /.footer -->

    <footer class="footer mt-auto py-3">
        <ul>
            <li class="educational-purposes-text">this site was made for educational purposes only</li>
        </ul>
        <ul class="social-media-icons">
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="instagram">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </li>
            <li>
                <a href="https://github.com/WisamTa" target="_blank" rel="noopener" aria-label="github">
                    <i class="fab fa-github-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/wisam-taqaly-710a1b1a4" target="_blank" rel="noopener" aria-label="linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
        </ul>
    </footer>
    
    
     

 </body>

</html>
